{% if page.header.sidebar.image %}
    <img src="{{ page.header.sidebar.image }}">
{% endif %}

{% if page.header.sidebar.twitter %}
    <a class="twitter-timeline" href="https://twitter.com/ReviseResub" data-height="600">Tweets by ReviseResub</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}