body#top #sb-site {

    #header {
        background-color: rgba(255,255,255,0.95);

        @media(max-width: 1243px) {
            padding-right: 4rem;
            padding-left: 4rem;
        }

        @media(max-width: 1147px) {
            padding-right: 3rem;
            padding-left: 3rem;
        }

        @media(max-width: 1115px) {
            padding-right: 1rem;
            padding-left: 1rem;

            #logo {

                h3 {
                    font-size: 1.5rem !important;
                }

            }

        }

        @media(max-width: 983px) {
            #logo {

                h3 {
                    font-size: 1.3rem !important;
                }

            }
        }

    }

    #header_image {
        position: relative;
        height: 300px;
        padding: 0 3rem;
        background-size: cover;

        img {
            position: absolute;
            bottom: 10px;
            height: 200px;
        }

    }

    #body {
        padding-top: 2rem;
        padding-bottom: 13rem;

        img.float-left {
            float: left;
            padding: 0 10px 10px 0;
        }

        .ui-widget-content a {
            color: $core-accent;
        }

        .box-row {

            .box {
                
                .box-content {
                    background-color: rgba(27, 179, 233, 0.1);
                    margin-bottom: 2rem;
                    padding: 10px 20px;

                    .twitter-tweet {
                        margin-left: auto;
                        margin-right: auto;
                    }

                }

                &.rightColumn {
                    padding-left: 3rem;

                    @media only all and (max-width: 47.938em) {
                        padding-left: 0;
                    }
                }

            }

        }

    }

    #footer {
        height: 8rem;
        padding-bottom: 20px;

        .totop {
            bottom: 7rem;
        }

    }

}

.grav-lightslider {
    .lSSlideOuter {
        .lSPager.lSpg {
            > li a {
                z-index: 1;
            }
        }
    }
}

#body > script:first-child + .grav-lightslider {
  margin-top: -3rem;
}
